table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.table .clipboard {
    visibility: hidden;
}

.table tr:hover .clipboard {
    visibility: visible;
}

thead {
    background-color: #0038A8;
    color: white;
}

.alert-top{
    position: fixed;
    top: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #0038A8;
    border-color: white;
}