<form ng-controller='GeradorController as vm' ng-init='vm.init()'>

	<div class='d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm'
		style='background-color: #FEDB00'>
		<h5 class='my-0 mr-md-auto font-weight-normal'>Gerador de Lista de Artefatos</h5>
	</div>

	<div class='container' style='padding-right: 0px; padding-left:0px;'>

		<div ng-repeat='alert in vm.alertsTop' class="container alert-top alert {{alert.tipoAlerta.class}} alert-dismissible"
			style='cursor: pointer;'>
			<a href="#" class="close" data-dismiss="alert" ng-click="alert.close()">&times;</a>
			{{alert.tipoAlerta.icone}} {{alert.text}}
		</div>

		<div ng-repeat='alert in vm.alerts' class="alert {{alert.tipoAlerta.class}} alert-dismissible"
			style='cursor: pointer;'>
			<a href="#" class="close" data-dismiss="alert" ng-click="alert.close()">&times;</a>
			{{alert.tipoAlerta.icone}} {{alert.text}}
		</div>

		<div class='row pt-2 border-top'>

			<div class='col'>

				<div class="form-group">
					<label>Matrícula do Autor</label>

					<div class='input-group mb-3'>

						<input type='text' class='form-control' aria-describedby='basic-addon2' ng-model='vm.req.autor'
							maxlength='20'>

					</div>

				</div>

			</div>

			<div class='col'>

				<div class="form-group">

					<label>Opções de Pesquisa</label>

					<div class='input-group mt-2'>

						<div class='col px-0'>

							<div class="custom-control custom-checkbox">

								<input type="checkbox" class="custom-control-input" id="checkMostrarDeletados"
									ng-model="vm.req.mostrarDeletados">
								<label class="custom-control-label" for="checkMostrarDeletados">Mostrar Artefatos
									Deletados</label>
							</div>

						</div>

						<div class='col px-0'>

							<div class="custom-control custom-checkbox">

								<input type="checkbox" class="custom-control-input" id="checkMostrarRenomeados"
									ng-model="vm.req.mostrarRenomeados">
								<label class="custom-control-label" for="checkMostrarRenomeados">Mostrar Artefatos
									Renomeados</label>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class='row pt-2'>

			<div class='col'>

				<div class="form-group">
					<label>Número da Tarefa</label>

					<div class='input-group mb-3'>

						<input type='text' class='form-control'
							placeholder='Adicione uma ou mais tarefas separadas por vírgula' ng-model='vm.tarefa'
							maxlength='300' number-only-and-comma>

						<div class='input-group-append'>
							<button class='btn btn-primary' ng-click='vm.adicionarTask()'>Adicionar</button>
						</div>
					</div>

				</div>

			</div>

			<div class='col'>

				<div class="form-group">
					<label>Caminho do Projeto Git</label>

					<div class='input-group mb-3'>

						<input type='text' class='form-control'
							placeholder='Adic. o caminho do projeto ex. /kdi/git/foo-estatico'
							ng-model='vm.caminhoProjeto' maxlength='300'>

						<div class='input-group-append'>
							<button class='btn btn-primary' type='button'
								ng-click='vm.adicionarCaminhoProjeto()'>Adicionar</button>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class='row pt-2 pb-2' ng-if='vm.req.task.length || vm.req.projeto.length'>

			<div class='col'>

				<table class='table' style='margin-bottom: 0rem;'>
					<thead>
						<tr>
							<th style='width:80%'>Tarefa</th>
							<th style='width:20%' class='text-center'></th>
						</tr>
					</thead>
				</table>

				<div style='max-height: 12.3rem; overflow-y:scroll;'>

					<table class='table table-striped table-bordered' style='margin-bottom: 0rem;'>
						<tbody>

							<tr ng-if="vm.req.task.length === 0">
								<td colspan="6" style="text-align: center;">
									<strong>Nenhuma tarefa selecionada</strong>
								</td>
							</tr>

							<tr ng-repeat='task in vm.req.task'>
								<td style='width:80%'>{{task}}</td>
								<td style='width:20%'>
									<a href ng-click='vm.removerTask(task)'>Remover</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class='col'>

				<table class='table' style='margin-bottom: 0rem;'>
					<thead>
						<tr>
							<th style='width:80%'>Projeto</th>
							<th style='width:20%' class='text-center'></th>
						</tr>
					</thead>
				</table>

				<div style='max-height: 12.3rem; overflow-y:scroll;'>

					<table class='table table-striped table-bordered' style='margin-bottom: 0rem;'>
						<tbody>

							<tr ng-if="vm.req.projeto.length === 0">
								<td colspan="6" style="text-align: center;">
									<strong>Nenhum projeto selecionado</strong>
								</td>
							</tr>

							<tr ng-repeat='caminhoProjeto in vm.req.projeto'>
								<td style='width:80%' title='{{caminhoProjeto}}'>
									<span>
										.../{{vm.obterNomeProjeto(caminhoProjeto)}}
									</span>
								</td>
								<td style='width:20%'>
									<a href ng-click='vm.removerCaminhoProjeto(caminhoProjeto)'>Remover</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>

		<div class='row d-flex flex-row-reverse pb-2'>

			<div class='p-2'>
				<button class='btn btn-block btn-primary' ng-click='vm.listarArtefatos()'>Gerar Lista</button>
			</div>

			<div class='p-2' ng-if='vm.listaSaida.length'>
				<button class='btn btn-block btn-success' ng-if='vm.listaSaida.length'
					ng-click='vm.copiarTabelaClipboard()'>Copiar Resultado</button>
			</div>

			<div class='p-2'>
				<button class='btn btn-block btn-danger' ng-click='vm.limparFiltros()'>Limpar</button>
			</div>


		</div>

		<div class='row pt-2 border-top' ng-if='vm.listaSaida.length'>

			<div class='col'>

				<table id='foo' class='table table-striped table-bordered table-hover'>
					<thead>
						<tr>
							<!-- <th style='width:7%' class='text-right'>Qtde</th> -->
							<th style='width:11%' class='text-right'>Atividade</th>
							<th style='width:69%'>Nome dos Artefatos</th>
							<th style='width:20%'>O que será feito</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='saida in vm.listaSaida' style='cursor: pointer;'
							ng-click='vm.copiarLinhaTabelaClipboard(saida)'>

							<!-- <td class='text-right'>
								<span>
									{{vm.obterNumero(saida)}}
								</span>
							</td> -->

							<td class='text-right'>
								<span>
									{{vm.TIPO_MODIFICACAO[saida.listaArtefatoSaida[0].tipoAlteracao]}}
								</span>
							</td>

							<td>
								<li ng-repeat='artefato in saida.listaArtefatoSaida' class='list-unstyled'>
									{{vm.obterNomeArtefato(artefato)}}
								</li>
							</td>

							<td>
								<div class="row">

									<div class='col'>

										<li ng-repeat='tarefa in saida.listaNumTarefaSaida' class='list-unstyled'>
											Tarefa nº {{tarefa}}
										</li>

									</div>
									<div class='col-3 d-flex flex-row-reverse'>

										<span class="clipboard" title='Copiar linha'>
											<img style="width: 0.9em; height: 0.9em; opacity: .5;"
												src="images/clipboard.svg">
										</span>

									</div>

								</div>
							</td>

						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<footer class='container pt-2 pt-md-3 border-top'>

		<div class="row justify-content-end">
			<p class="text-muted">Desenvolvido por <a href="https://github.com/diegomdrs" target="_blank">diegomdrs</a>
			</p>
		</div>

	</footer>

	</div>

</form>