<form ng-controller='GeradorController as vm' ng-init='vm.init()' ng-class="{'was-validated' : vm.wasValidated}" novalidate>

	<div class='d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm'
		style='background-color: #FEDB00'>
		<h5 class='my-0 mr-md-auto font-weight-normal'>Gerador de Lista de Artefatos</h5>
	</div>

	<div class='container' style='padding-right: 0px; padding-left:0px;'>

		<div ng-repeat='alert in vm.alerts'>

			<div class="{{alert.tipo.class}} {{alert.tipoAlerta.class}}">
				<a href="#" class="close" data-dismiss="alert" ng-click="vm.close($index)">&times;</a>
				<span style="padding-right: 1rem;">{{alert.tipoAlerta.icone}}</span>
				<span ng-if='alert.html' ng-bind-html="alert.html"></span>
				<span ng-if='alert.text'>{{alert.text}}</span>
			</div>

		</div>

		<div class='row'>

			<div class='col-xl-2'>

				<div class="form-group">
					<label>Matrícula do Autor *</label>

					<div class='input-group'>
						<input type='text' class='form-control' aria-describedby='basic-addon2' ng-model='vm.req.autor' maxlength='20' required>
					</div>

				</div>

			</div>

			<div class='col-xl-4'>

				<div class="form-group">

					<label>Intervalo de Pesquisa</label>

					<div class="row">
						<div class="col-xl-6">
							<input type='date' class='form-control' aria-describedby='basic-addon2'
								ng-model='vm.req.dataInicio'>
						</div>
						<div class="col-xl-6">
							<input type='date' class='form-control' aria-describedby='basic-addon2'
								ng-model='vm.req.dataFim'>
						</div>
					</div>

				</div>

			</div>

			<div class='col-xl-3'>
				<div class="form-group">

					<label>Opções de Pesquisa</label>

					<div class='input-group'>

						<div class='col-xl-6 px-0 pt-2'>

							<div class="custom-control custom-checkbox">

								<input type="checkbox" class="custom-control-input" id="checkMostrarDeletados"
									ng-model="vm.req.mostrarDeletados">
								<label class="custom-control-label" for="checkMostrarDeletados">Deletados</label>
							</div>

						</div>

						<div class='col-xl-6 px-0 pt-2'>

							<div class="custom-control custom-checkbox">

								<input type="checkbox" class="custom-control-input" id="checkMostrarRenomeados"
									ng-model="vm.req.mostrarRenomeados">
								<label class="custom-control-label" for="checkMostrarRenomeados">Renomeados</label>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class='col-xl-3'>

				<div class="form-group">

					<label>Tipo de Listagem</label>

					<div class='input-group'>

						<div class='col px-0'>

							<select class="custom-select" ng-model='vm.tipoListagem'>
								<option ng-repeat="(key, obj) in vm.TIPO_LISTAGEM" value="{{key}}">{{obj.descricao}}
								</option>
							</select>

						</div>

					</div>

				</div>
			</div>
		</div>

		<div class='row'>

			<div class='col'>

				<div class="form-group">
					<label>Número da Tarefa *</label>

					<div class='input-group mb-3'>

						<input type='text' 
							class='form-control'
							placeholder='Adicione uma ou mais tarefas ex. 1576250, 1575103' 
							ng-model='vm.listaTarefa'
							ng-keyup='$event.keyCode == 13 ? vm.adicionarTask() : null' maxlength='300'
							number-only-and-comma
							ng-required='!vm.req.listaTarefa.length'>

						<div class='input-group-append'>

							<button class='btn btn-primary' ng-click='vm.adicionarTask()'>
								<i class="oi oi-plus"></i> Adicionar
							</button>

						</div>
					</div>

				</div>

			</div>

			<div class='col'>

				<div class="form-group">
					<label>Caminho do Projeto Git *</label>

					<div class='input-group mb-3'>

						<input type='text' class='form-control' placeholder='{{vm.msgSugestaoListaCaminhoProjeto}}'
							title='{{vm.msgSugestaoListaCaminhoProjeto}}'
							ng-keyup='$event.keyCode == 13 ? vm.adicionarCaminhoProjeto() : null'
							ng-model='vm.listaCaminhoProjeto' maxlength='300'
							ng-required='!vm.req.listaProjeto.length'>

						<div class='input-group-append'>

							<button class='btn btn-primary' ng-click='vm.adicionarCaminhoProjeto()'>
								<i class="oi oi-plus"></i> Adicionar
							</button>

						</div>
					</div>

				</div>

			</div>
		</div>

		<div class='row' ng-if='vm.req.listaTarefa.length || vm.req.listaProjeto.length'>

			<div class='col'>

				<table class='table mb-0'>
					<thead>
						<tr>
							<th style='width:80%'>Tarefa</th>
							<th style='width:20%' class='text-center'></th>
						</tr>
					</thead>
				</table>

				<div style='max-height: 12.3rem; overflow-y:scroll;'>

					<table class='table table-striped table-bordered mb-0'>
						<tbody>

							<tr ng-if="vm.req.listaTarefa.length === 0">
								<td colspan="6" style="text-align: center;">
									<strong>Nenhuma tarefa selecionada</strong>
								</td>
							</tr>

							<tr ng-repeat='task in vm.req.listaTarefa track by $index'>
								<td style='width:75%'>{{task}}</td>
								<td style='width:25%'>

									<div class="d-flex justify-content-center">
										<a href class="text-danger" ng-click='vm.removerTask(task)'><i
												class="oi oi-trash"></i> Remover</a>
									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class='col'>

				<table class='table mb-0'>
					<thead>
						<tr>
							<th style='width:80%'>Projeto</th>
							<th style='width:20%' class='text-center'></th>
						</tr>
					</thead>
				</table>

				<div style='max-height: 12.3rem; overflow-y:scroll;'>

					<table class='table table-striped table-bordered mb-0'>
						<tbody>

							<tr ng-if="vm.req.listaProjeto.length === 0">
								<td colspan="6" style="text-align: center;">
									<strong>Nenhum projeto selecionado</strong>
								</td>
							</tr>

							<tr ng-repeat='caminhoProjeto in vm.req.listaProjeto track by $index'>
								<td style='width:75%' title='{{caminhoProjeto}}'>
									<span>
										.../{{vm.obterNomeProjeto(caminhoProjeto)}}
									</span>
								</td>
								<td style='width:25%'>

									<div class="d-flex justify-content-center">
										<a href class="text-danger"
											ng-click='vm.removerCaminhoProjeto(caminhoProjeto)'><i
												class="oi oi-trash"></i> Remover</a>
									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

		<div class='row'>

			<div class='col d-flex flex-row-reverse'>

				<div class='pt-3 pb-2 pl-2'>

					<button class='btn btn-block btn-primary' ng-click='vm.listarArtefatos()'>
						<i class="oi oi-check"></i> Gerar Lista
					</button>

				</div>

				<div class='pt-3 pb-2 pl-2'>
					<button class='btn btn-block btn-danger' ng-click='vm.limparFiltros()'>
						<i class="oi oi-trash"></i> Limpar</a>
					</button>
				</div>

			</div>

		</div>

		<hr class="my-2" ng-if='vm.listaSaida.length' />

		<div class='row' ng-if='vm.listaSaida.length'>

			<div class='col d-flex flex-row-reverse'>

				<div class='py-1 pl-2' ng-if='vm.listaSaida.length'>

					<button class='btn btn-block btn-success' ng-if='vm.listaSaida.length'
						ng-click='vm.exportarArquivoTxt()' title='Exportar listagem para um arquivo TXT'>
						<i class="oi oi-file"></i> Exportar para TXT
					</button>

				</div>
				<div class='py-1 px-0'
					ng-if='vm.listaSaida.length && vm.req.tipoListagem === vm.TIPO_LISTAGEM.POR_TIPO_ARTEFATO.codigo'>
					<button class='btn btn-block btn-success' ng-click='vm.exportarArquivoCsv()'
						title='Exportar listagem para um arquivo CSV'>
						<i class="oi oi-file"></i> Exportar para CSV
					</button>
				</div>
			</div>
		</div>

		<div ng-include="'spas/include/lista-por-tarefa.html'"></div>
		<div ng-include="'spas/include/lista-por-tipo-artefato.html'"></div>

		<hr class="my-2" />

	</div>

	<footer class='container'>

		<div class="row justify-content-end">
			<p class="text-muted">
				Versão <a href="https://github.com/diegomdrs/gerador-lista-artefato" target="_blank">{{vm.version}}</a>
			</p>
			<p class="text-muted px-2" >|</p>
			<p class="text-muted">Desenvolvido por <a href="https://github.com/diegomdrs" target="_blank">diegomdrs</a>
			</p>
		</div>

	</footer>

</form>