<div ng-controller="GeradorController as vm" ng-init="vm.init()">

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm"
		style='background-color: #FEDB00'>
		<h5 class="my-0 mr-md-auto font-weight-normal">Gerador de Artefatos</h5>
	</div>

	<div class="container">

		<div ng-repeat="message in vm.messages" class="alert alert-danger" role="alert">
			{{message}}
		</div>

		<div class="row pt-2 border-top">

			<div class="col">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="col">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

		<div class="row d-flex flex-row-reverse pt-2 pb-2 border-top">

			<div class="p-2">
				<button type="button" class="btn btn-block btn-primary">Gerar</button>
			</div>

			<div class="p-2">
				<button type="button" class="btn btn-block btn-danger">Limpar</button>
			</div>

		</div>

		<div class="row pt-2 border-top">

			<div class="col">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th style="width:10%" class="text-right">Número</th>
							<th style="width:70%" >Artefato</th>
							<th style="width:20%" >Tarefa</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="saida in vm.listaSaida">
							
							<td class="text-right">
								<span>
									{{vm.obterNumero(saida)}}
								</span>
							</td>

							<td>
								<li ng-repeat="artefato in saida.listaArtefatoSaida"
									class="list-unstyled">
									{{artefato.nomeArtefato}}
								</li>
							</td>

							<td>
								<li ng-repeat="tarefa in saida.listaNumTarefaSaida"
									class="list-unstyled">
									Tarefa nº {{tarefa}}
								</li>
							</td>

						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<footer class="pt-2 my-md-5 pt-md-5 border-top">
		<div class="row">

		</div>
	</footer>

</div>

</div>